@model FriendFace.ViewModels.UserProfileViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@("@")@Model.user.UserName@("'s") Profile</h2>
            <div class="profile-header">
                <h3 id="userFirstname">Firstname: @Model.user.FirstName</h3>
                <h3 id="userLastname">Lastname: @Model.user.LastName</h3>
                <p id="userEmail">Email: @Model.user.Email</p>
            </div>
            @if (Model.isCurrentUser == false && Model.isLoggedIn)
            {
                if (Model.isFollowing)
                {
                    <button id="unfollowButton-@Model.user.Id" class="btn btn-sm btn-outline-secondary">Unfollow</button>
                }
                else
                {
                    <button id="followButton-@Model.user.Id" class="btn btn-sm btn-outline-secondary">Follow</button>
                }
            }


        </div>
    </div>


<!-- Placeholder for EditProfile form -->
@if (Model.isCurrentUser)
{
    <div id="editProfileContainer" style="display: none;">
        @Html.Partial("_EditProfile", Model)
    </div>
    <button id="toggleEditProfile" class="btn btn-primary">Edit Profile</button>
    <h3 id="successMessage"></h3>
}
</div>

<script src="~/js/Search/searchUser.js"></script>
<script>
    $(document).ready(function () {
        $('#toggleEditProfile').click(function () {
            var isVisible = $('#editProfileContainer').is(":visible");
            $('#editProfileContainer').toggle();
            $(this).text(isVisible ? "Edit Profile" : "Cancel");
        });
    });
</script>

